.input {
    font-family: monospace;
    user-select: none;
}

.inputFilled {
    cursor: copy;
}

.inputEmpty {
    text-align: center;
    pointer-events: none;
}

.inputEmpty::placeholder {
    color: var(--chakra-colors-gray-800)
}
